img {
    float: right;
    width: 18%;
}

div {
    max-width: 960px;
    margin: auto;
}

header {
    padding: 5px;
}

header, footer {
    background-color: lightblue;
    color: black;
}

main {
    padding: 10px;
}

footer {
    padding: 10px;
}