
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
}
.container{
    padding: 10px;
    border: 1px solid #ffa500(0, 0, 0);
    width: 20%;
    margin: auto;
    display: flex;
}

img{
    width: 20%;
    text-align: right;
}
div {
    margin: 10px;
    text-align: center;
}

footer {
    background-color: rgb(128, 128, 128);
    color: white;
    padding: 5px;
    text-align: center;
}

header {
    margin: auto;
    text-align: center;
}

label {
    display: inline-block;
    min-width: 120px;
    text-align: right;
}

main {
    display: flex;
    justify-content: center;
}

nav {
    background-color: black;
    color: white;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li:first-child {
    display: block;
}

nav ul li {
    display: none;
    list-style: none;
    margin: 10px;
}

nav ul li a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #efefef;
    color: black;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Class Selectors */
.active {
    background-color: white;
    color: black;
}

.open li {
    display: block;
}
*{
    padding: 0;
      margin:0;
  }
 
  